<section class="welcome" id="sobre">
  <span class="welcome__label reveal" #animated>{{ 'welcome.label' | translate }}</span>

  <h1 class="welcome__heading">
    <span class="reveal" #animated>{{ 'welcome.line1' | translate }}</span><br>
    <span class="reveal" #animated>{{ 'welcome.line2' | translate }} <em>{{ 'welcome.highlight' | translate }}</em> {{ 'welcome.line2b' | translate }}</span><br>
    <span class="reveal" #animated>{{ 'welcome.line3' | translate }}</span>
  </h1>

  <div class="welcome__body">
    <p class="reveal" #animated>{{ 'welcome.p' | translate }}</p>
  </div>
</section>
