<section class="about">
  <div class="about__grid">

    <div class="about__content">
      <span class="about__label reveal" #animated>{{ 'about.label' | translate }}</span>
      <h2 class="about__heading reveal" #animated>{{ 'about.heading' | translate }}</h2>

      <p class="about__text reveal" #animated>{{ 'about.p1' | translate }}</p>
      <p class="about__text reveal" #animated>{{ 'about.p2' | translate }}</p>
      <p class="about__text reveal" #animated>{{ 'about.p3' | translate }}</p>
      <p class="about__text reveal" #animated>{{ 'about.p4' | translate }}</p>
      <p class="about__text reveal" #animated>{{ 'about.p5' | translate }}</p>
    </div>

    <div class="about__cards">
      <div class="about__stat reveal" #animated>
        <span class="about__stat-value">4+</span>
        <span class="about__stat-label">{{ 'about.stat.label' | translate }}</span>
      </div>

      <div class="about__card reveal" #animated>
        <span class="about__card-tag">{{ 'about.c1.tag' | translate }}</span>
        <p class="about__card-title">{{ 'about.c1.title' | translate }}</p>
      </div>

      <div class="about__card reveal" #animated>
        <span class="about__card-tag">{{ 'about.c2.tag' | translate }}</span>
        <p class="about__card-title">{{ 'about.c2.title' | translate }}</p>
        <p class="about__card-sub">{{ 'about.c2.sub' | translate }}</p>
      </div>

      <div class="about__card reveal" #animated>
        <span class="about__card-tag">{{ 'about.c3.tag' | translate }}</span>
        <p class="about__card-title">{{ 'about.c3.title' | translate }}</p>
        <p class="about__card-sub">{{ 'about.c3.sub' | translate }}</p>
      </div>

      <div class="about__card about__card--event reveal" #animated>
        <span class="about__card-tag">{{ 'about.c4.tag' | translate }}</span>
        <p class="about__card-title">{{ 'about.c4.title' | translate }}</p>
        <p class="about__card-sub">{{ 'about.c4.sub' | translate }}</p>
        <a class="about__card-link" (click)="scrollToEvents()">{{ 'about.c4.link' | translate }} →</a>
      </div>
    </div>

  </div>


</section>
